:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  /* Variables de color para temas */
  --color-light-background: #ffffff;
  --color-dark-background: #242424;
  --color-light-text: #213547;
  --color-dark-text: rgba(255, 255, 255, 0.87);
  --color-primary: #646cff;
  --color-primary-hover: #535bf2;
  --color-button-light: #f9f9f9;
  --color-button-dark: #1a1a1a;
  --color-link-light: #747bff;
  --color-link-dark: #535bff;
  --color-button-text-light: #333;
  --color-button-text-dark: #ffffff;
}

/* Estilos generales */

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-link-dark);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--color-dark-text);
  background-color: var(--color-dark-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-primary);
}

/* Estilos para modo claro */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-light-text);
    background-color: var(--color-light-background);
  }
  
  a:hover {
    color: var(--color-link-light);
  }
  
  button {
    background-color: var(--color-button-light);
    color: var(--color-button-text-light);
  }

  button:hover {
    border-color: var(--color-primary-hover);
  }
}
